node_modules
.idea
.vscode
/allure-*
.jshintrc
.jshintignore
*.log
build
zippedResults

# ignore all in allure_server/content except .keep file
allure_server/content/*
!allure_server/content/.keep
