node_modules
.idea
.vscode
allure-*
.jshintrc
.jshintignore
*.log
dist

## ignore all in content except .keep files in sub directories
content/*
!content/.keep

!content/reports
content/reports/*
!content/reports/.keep

!content/backups
content/backups/*
!content/backups/.keep


# local start
start.sh
